<?xml version="1.0"?>
<robot name="cart_bot">
    <link name="body_link">
        <visual>
            <origin xyz="0.0 0.0 0.3" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.88 0.405 0.5"/>
            </geometry>
            <material name="Blue">
                <color rgba="0.0 1.0 0.0 0.5"/>
            </material>
        </visual>
    </link>

    <joint name="wheel_left_joint" type="continuous">
        <parent link="body_link"/>
    </joint>

    <link name="wheel_left">
        <visual>
            <origin xyz="0.0 -0.3025 0.0" rpy="0.0 1.57 1.57"/>
            <geometry>
                <cylinder length="0.1" radius="0.17"/>
            </geometry>
            <material name="Red">
                <color rgba="0.0 0.0 1.0 1.0"/>
            </material>
        </visual>
    </link>
    <link name="wheel_right">
        <visual>
            <origin xyz="0.0 0.3025 0.0" rpy="0.0 1.57 1.57"/>
            <geometry>
                <cylinder length="0.1" radius="0.17"/>
            </geometry>
            <material name="Red">
                <color rgba="0.0 0.0 1.0 1.0"/>
            </material>
        </visual>
    </link>
</robot>
