<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find cartbot)/config/xacro/cartbot.urdf.xacro"/>

    <rosparam command="load" file="$(find cartbot)/launch/param.yaml" />

    <node pkg="cartbot" type="clustering_node" name="clustering_node" output="screen" />

    <node pkg="cartbot" type="tracking_node" name="tracking_node" output="screen" />

    <node pkg="cartbot" type="avoiding_node" name="avoiding_node" output="screen" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cartbot)/rviz/cluster.rviz" output = "screen"/>
</launch>