<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find cartbot)/xacro/robot1/cartbot.urdf.xacro"/>
    <rosparam command="load" file="$(find cartbot)/config/param.yaml" />

    <node pkg="cartbot" type="clustering_node" name="clustering_node" output="screen" />

    <node pkg="cartbot" type="tracking_node" name="tracking_node" output="screen" />

    <node pkg="cartbot" type="avoiding_node" name="avoiding_node" output="screen" />

    <node pkg="cartbot" type="serial_node" name="serial_node" output="screen" />

    <include file="$(find cartbot)/launch/rviz.launch"/>
</launch>